.projects {
  position: absolute;
  top: 100px;
  right: 0px;
  left: 0px;
  height: auto;
  
  background: black;
  color: white;
  z-index: 2;
}

.spin {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Effect with title*/
.spin h1 {
  width: 110px;
}

.spin a {
  position: absolute;
  margin-top: 20px;
  margin-left: 180px;
  text-decoration: none;
  z-index: 2;
}

.spin a:hover {
  color: white;
}

.main--projecttitle {
  margin-top: 40px;
  margin-left: 20px;

  font-family: 'Consolas';
  font-size: 2rem;

  color: #ccd6f6;;

  animation-name: rotation;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate3d(0, 0, 0, 360deg);
  }
  25% {
    transform: rotate3d(3, -3, 3, 270deg);
  }
  50% {
    transform: rotate3d(2, -2, -2, 180deg);
  }
  75% {
    transform: rotate3d(-1, -1, -3, 270deg);
  }
  100% {
    transform: rotate3d(3, 3, -2, 0deg);
  }
}


/*Effect of intro*/
.div--caption {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;

  padding: 15px 20px;

  text-decoration: none;
  font-family: 'Consolas', cursive;
  font-size: 1.2rem;
  opacity: 0;
  background: black;

  animation-name: caption;
  animation-delay: 0s;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-function-timing: ease;
}

@keyframes caption {
  0% {
    opacity: 1;
    animation-function-timing: ease;
  }
  100% {
    opacity: 0;
    animation-function-timing: ease;
  }
}

.title--caption {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 700px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'One-serif';
  font-size: 3rem;
  font-weight: bold;

  color: whitesmoke;
  
  /*border: 2px solid lightgreen;*/
}

/*End of effect of intro*/
.mainproject--div {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;

  background: black;
  color: white;
}

.main--content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about--me {
  width: 50%;
  margin: 40px 0px;
  margin-left: 120px;
  
  /*border-radius: 15px;
  box-shadow: 0px 0px 15px 2px #5cd6b0;*/

  background: transparent;
  border: 1px solid green;
  border-radius: 12px;
  box-shadow: 0px 0px 18px lightgreen;
  color: white;
  z-index: 7;
}

.art--aboutme {
  padding: 30px 40px;
}

.art--aboutme h3 {
  margin: auto;
  font-family: 'Consolas';
  /*color: #ccd6f6;*/
  color: lightgrey;
}

.hr {
  margin-top: 20px;
  margin-bottom: 30px;
  color: grey;
}

.art--aboutme p {
  margin: auto;
  margin: 20px 0px;
  text-align: justify;
  text-indent: 10px;
  color: #5cd6b0;
}

.cv--pdf {
  z-index: 7;
  color: #5cd6b0;
}

.cv--pdf:hover {
  color: white;
}

/*Photo right side*/

.flex--photo {
  margin: 0px 100px;
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
}

.div--content {
  margin: auto;
  display: flex;
  justify-content: center;
}

.img--photo {
  width: 70%;
  height: 70%;
  opacity: 1;

  animation-name: translateImg;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-function-timing: ease-in-out;
  transform: translate(0px, 0px);
}

@keyframes translateImg {
  0% {
    transform: translate(20px, -20px);
  }
  50% {
    transform: translate(20px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.filter--photo {
  position: absolute;
  width: 263px;
  height: 280px;
  margin: auto;
  background-color: rgba(0,255,0,.4);
}

.design--photo {
  position: absolute;
  width: 263px;
  height: 280px;
  top: -20px;
  left: 20px;
  border: 1px solid lightgreen;
}


.second--content {
  margin-top: 20px;
}

.second--divcontent {
  display: flex;
  flex-direction: row;
}

.art--second {
  width: 44%;
  margin: 40px 0px;
  margin-left: 120px;
  padding: 20px 40px;
  /*border-radius: 15px;
  box-shadow: 0px 0px 15px 2px #5cd6b0;*/

  background: transparent;
  border: 1px solid green;
  border-radius: 12px;
  box-shadow: 0px 0px 18px lightgreen;
  color: white;
  z-index: 7; 
}

.art--second p {
  padding-right: 40px;
  text-indent: 10px;
  text-align: justify;
  color: #5cd6b0;
}

.div--content2 {
  position: absolute;
  width: 20%;
  margin-top: -3%;
  margin-left: 54%;
  padding: 20px 40px;

  background: #112240;
  border: 1px solid #112240;
  border-radius: 12px;

  border-radius: 12px;
  box-shadow: 0px 0px 18px grey;
  color: whitesmoke;
  z-index: 12;
}

.div--criteria li {
  margin: 5px 0px; 
}