.cv {
  position: absolute;
  top: 100px;
  right: 0px;
  bottom: -330px;
  left: 0px;

  background: #151212;
  color: white;
}

.main--cvtitle {
  margin-top: 40px;
  margin-left: 20px;

  font-family: 'Consolas';
  font-size: 2rem;

  color: #ccd6f6;
}

.pdf--caption {
  margin-top: 5%;
  margin-right: 20%;
  margin-left: 20%; 
}